<div class="flex flex-col">
    <div class="flex flex-col items-center gap-2">
        <hr class="w-1/4 border border-t-accessory" />
        <div class="flex flex-row gap-8 font-bold">
            <a href="/">Home</a>
            <a href="/contact">Contact</a>
        </div>
        <hr class="w-1/4 border border-t-accessory" />
    </div>
</div>
