---
const { title } = Astro.props;
import { Breadcrumbs } from "astro-breadcrumbs";
import "../styles/breadcrumbs.scss";
---

<div
  class="flex items-center self-start w-full gap-1 p-4 shadow-md bg-surface"
>
  <p class="text-xl w-full text-left font-bold">
    {title}
  </p>

  <Breadcrumbs linkTextFormat="capitalized">
  <svg
    slot="separator"
    xmlns="http://www.w3.org/2000/svg"      
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    ><polyline points="9 18 15 12 9 6"></polyline>
  </svg>
  </Breadcrumbs>
</div>