---
const props = Astro.props;
---

<section class="flex items-center justify-center p-8">
	<div class="flex w-1/2 flex-col justify-center rounded-lg border border-suisei p-8 shadow-md">
		<slot />
	</div>
</section>
